* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxg;
}

body {
    background: linear-gradient(90deg, #0498b1 0%, #00d4ff 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    padding: 100px 0;
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
}

.box h1, h2 {
    color: #fff;
    text-align: center;
}